.alert {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.5em;
    background-color: #e74c3c;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
}
